/* You CSS goes in here */

.card {
    margin-bottom: 5px;
}

.img-container {
    
    display: inline-block;
    position: relative;
}

.div-inline {

    display: inline-block;
}

#burette{
    position: relative;
    top:1%;
    left:5%;
    width:80%;
    height:5%;
}



#conicalflask{
    position: absolute;
    top:74%;
    left:42.5%;
    width:15%;
    height:18%;
}