/* /*
 Lab name: Experimental Biochemistry
Exp name: pH-titration of amino acids and small peptides, and estimation of isoelectric point (pI)
File name: main.css
Developer: Prakriti Dhang

 */ */

.card {
    margin-bottom: 5px;
}

.img-container {
    
    display: inline-block;
    position: relative;
}

.div-inline {

    display: inline-block;
}

#burette{
    position: relative;
    top:1%;
    left:5%;
    width:80%;
    height:5%;
    z-index: 1;
}


#canvasburette{
    position: absolute;
    top:15.1%;
    left:47.4%;
    width:5%;
    height:37%;
    opacity: 45%;
    
}

#burettestndholder{
    position: absolute;
    top:15.2%;
    left:46.6%;
    width:6%;
    height:4%;
    z-index: 2;
    
}
#buretteswitch{
    position: absolute;
    top:53.5%;
    left:54%;
    width:2%;
    height:6.8%;
    cursor: pointer;
    z-index: 1;
}

#conicalflask{
    position: absolute;
    top:74%;
    left:42.5%;
    width:15%;
    height:18%;
    display: none;
    z-index: 2;
}



#pdrop{
    position: absolute;
    top:67%; /*67- 86*/
    left:49.2%;
    width:1.2%;
    height:2%;
    display: none;
    z-index: 2;
}

.btn-indian-red {
    --bs-btn-color: #fff;
    --bs-btn-bg: #CD5C5C;
    --bs-btn-border-color: #CD5C5C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #B22222;
    --bs-btn-hover-border-color: #CD5C5C;
    --bs-btn-focus-shadow-rgb: 205, 92, 92;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #CD5C5C;
    --bs-btn-active-border-color: #8B0000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #CD5C5C;
    --bs-btn-disabled-border-color: #CD5C5C;
  }